body{
  background: #f0f0f0;
}

body ul{
  list-style: none;
}

#app{
  width: 900px;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  border: 1px solid #b3b3b3;
}

#app .app_title{
  text-align: center;
}